* {
    margin: 0;
    padding: 0;
}
html, body, #app {
    height: 100%;
    min-width: 1200px;
}
/* .el-header {
    min-width: 380px;
}
.el-main {
    min-width: 700px;
} */
.el-breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
}
.el-table{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.el-dialog {
    min-width: 500px;
}